/* HERIPRET Estelle */
body {
  color: black;
  font-size: 100%;
  font-family: "Georgia", serif;
}

header {
  color: black;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 40px;
}

footer {
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  font-style: oblique;
  color: white;
  background-color: #4c549b;
  margin: 2px auto;
  width: 100%;
}

section {
  margin: 0 35px 0 35px;
  background-color: #4c549b;
}

/* Barre de recherche */
#barre {
  margin-left: 35px;
}

#barre input {
  font-size: 100%;
}

#barre button {
  font-size: 100%;
}

/* Menu */
#menu {
  font-family: "Oswald", serif;
  font-size: 1.4em;
  line-height: 40px;
  list-style: none;
  margin: 0 35px 0 35px;
}

#menu ul {
  list-style: none;
  text-align: center;
  height: 40px;
  background-color: #4c549b;
  padding: 0;
}

#menu li {
  display: block;
}

#menu li.bouton_gauche {
  float: left;
}

#menu li.bouton_droit {
  float: right;
}

#menu li.bouton_droit a {
  color: white;
  font-family: "Oswald", serif;
}

#menu a {
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  display: block;
  transition: 0.3s background-color;
  width: 200px;
}

#menu a:hover {
  text-decoration: none;
  background-color: #005f5f;
}

#menu li ul {
  position: absolute;
}

.sous_menu {
  list-style: none;
  text-align: center;
  background-color: #4c549b;
  padding: 0;
}

#menu ul li ul {
  display: none;
}

#menu ul li:hover ul {
  display: block;
}

/*Liens */
a:link {
  text-decoration: none;
  color: #fafafa;
}

a:visited {
  text-decoration: none;
  color: gray;
}

/* Informations images */
div.info span {
  display: none;
}

div.info:hover span {
  display: block;
  position: absolute;
  font-size: 16px;
  padding: 5px 10px 5px 10px;
  width: auto;
  color: black;
  font-family: "Georgia", serif;
  background-color: #c2a385;
  box-shadow: 0px 0px 8px 5px rgba(255, 255, 255, 0.7);
  border-radius: 4px;
}

#titrephoto {
  color: white;
  font-size: 20px;
  text-align: center;
}

/* Style photos */
#photos table {
  border-spacing: 15px;
}

#photos img:hover {
  transform: scale(1.05);
  cursor: pointer;
}

/* Style diaporama */
#overlay {
  display: none;
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.6;
}

#slider {
  display: none;
  position: absolute;
  z-index: 102;
  width: 1500px;
  height: 800px;
  padding: 10px;
  margin-top: -20%;
  margin-left: 10%;
  border: 1px solid #ddd;
  background: #fff;
  background: linear-gradient(#fff, #fff 20%, #eee 80%, #ddd);
  border-radius: 2px 2px 2px 2px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

#slides figcaption {
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: 15px;
  padding: 10px;
  margin: 0;
  text-align: center;
  letter-spacing: 0.05em;
  word-spacing: 0.05em;
  font-family: Georgia, Times, serif;
  font-size: 30px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
}

#slides img {
  max-width: 1500px;
  max-height: 800px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

#button {
  display: block;
  width: 100%;
  height: 15%;
  margin-top: 20%;
  opacity: 0.8;
}

#button_right {
  float: right;
  width: 6%;
  height: 80%;
  margin-right: 3px;
}

#button_left {
  float: left;
  width: 6%;
  height: 80%;
  margin-left: 3px;
}

#button img:hover {
  transform: scale(1.2);
}

#croix {
  display: block;
  width: 3%;
  height: 5%;
  float: right;
  margin-left: 3px;
  margin-top: -2%;
  opacity: 0.8;
}

#croix:hover {
  transform: scale(1.2);
}
